
@{
    ViewBag.Title = "Movie Confirmation";
}

@*<h2>New Movie Confirmation Screen</h2>
<p>The following movie has been added to your collection: </p>
<p>@ViewBag.Message</p>*@

<h2>New Movie Confirmation Screen</h2>
<p>New movie successfully added!</p>
<p>Title: @Model.Title</p>
<p>Director: @Model.Director</p>
<p>Year Released: @Model.YearRelease</p>
<p>In Collection?: @Model.InCollection</p>

